@{
}

<ul class="navbar-nav">
    @if (User.IsInRole("User") || User.IsInRole("Admin"))
    {
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Admin" asp-action="Index">Admin</a>
            </li>   
        }
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Koszyk</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Logout">Wyloguj</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Utwórz konto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Logowanie</a>
        </li>
    }
</ul>
